@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-weight: normal;
  color: #BFD1D9;
  box-sizing: border-box;
}

:root{
  --cor1: #011826;
  --cor2: #012E40;
  --cor3: #5D91A6;
  --cor4: #8FA1AD;
  --cor5: #BFD1D9;
}

body{
  height: 100vh;
  background-color: aliceblue;
  background-image: url(https://images.unsplash.com/photo-1736347837458-7cc3697ba57a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  overflow-y:hidden;
}

/* Navbar */

.navbar {
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid var(--cor1);
}
.navbar h1 {
  color: var(--cor1);
  font-weight: 600;
}
.navbar .links {
  margin-left: auto;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: var(--cor1);
}
.navbar a:hover {
  border-bottom: 2.5px solid var(--cor3);
  font-weight: 550;
}

/* */

.content{
    width: 850px;
    margin: 40px auto; 
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.169);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    box-shadow: 1px 1px 1px #5d91a685;
    display: flex;
    flex-flow: column wrap; 
    justify-content: flex-start; 
    align-items: center; 
    height: 400px; /* Ou um valor fixo em px, ex: 600px */
    overflow-y: auto; /* Adiciona barra de rolagem interna */
}

/* blog previews / list */
.home{
  background-color: transparent;
  color: var(--cor1);
}

.home > h1{
  margin-left: 10px;
  background-color: transparent;
  color: var(--cor1);
}

.loading h2{
  margin-left: 10px;
  font-size: 20px;
  color: var(--cor1);
  font-weight: 500;
  margin-bottom: 4px;
}

.user-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid  #8fa1ad65;
  width: 750px;
  border-radius: 16px;
  background-color:  #bfd1d96c;
}
.user-preview:hover {
  box-shadow: 1px 3px 5px  #012e4057;
  border: 1px solid var(--cor3);
  
}
.user-preview h2 {
  font-size: 20px;
  color: var(--cor1);
  font-weight: 500;
  margin-bottom: 4px;
}
.user-preview p {
  color: var(--cor2);
  margin-bottom: 12px;
}
.user-preview a{
  text-decoration: none;
}

.user-preview button {
  margin-right: 16px;
  background: var(--cor1);
  color:var(--cor5);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.user-preview button:hover {
  background: var(--cor1);
  color: yellowgreen;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #a1ccde91;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #bfd1d99b; /* Cor de fundo da área de rolagem */
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--cor3); /* Cor do "polegar" da barra de rolagem */
  border-radius: 8px; /* Raio do canto do "polegar" */
}


/* CREATE PAGE */
.create label {
  text-align: left;
  display: block;
  color: var(--cor2)
}
.create h1 {
  text-align: left;
  display: block;
  color: var(--cor2);
  margin-bottom: 24px;
}

.create input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--cor5);
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  color: var(--cor1);
}
.create button {
  background: var(--cor1);
  color:var(--cor5);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.create button:hover {
  background: var(--cor1);
  color:var(--cor5);
  border: 1px solid var(--cor5);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #a1ccde91;
}

div.create button[type="submit"]:disabled {
  background-color: var(--cor1); /* Cor de fundo cinza claro */
  border: 1px solid #cccccc; /* Borda cinza clara */
  color: var(--cor5); /* Cor do texto cinza médio */
  cursor: default; /* Cursor de "mãozinha" padrão */
  opacity: 0.7; /* Opacidade para indicar que está desabilitado */
  /* Outros estilos que você queira adicionar */
}